*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
}
:root{
	--bg-color:#202020;
	--second-bg-color: #202020;
	--text-color: #fff;
	--second-color: #ccc;
	--main-color: #F779E4;
	--h2-font: 3rem;
	--p-font: 1.1rem;
}
body{
	background: #3A4D39;
	color: #fff;
}
header{
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	padding: 22px 15%;
	border-bottom: 1px solid transparent;
	transition: all .45s ease;
}
.logo{
	color: #ffffff;
	font-size: 35px;
	font-weight: 700;
	letter-spacing: 1px;
}
span{
	color: #FFE5B4;
}
.navlist{
	display: flex;
}
.navlist a{
	color: #ffffff;
	font-size: 17px;
	font-weight: 500;
	margin: 0 25px;
	transition: all .45s ease;
}
.navlist a:hover{
	color:  #FFE5B4;
}
.navlist a.active{
	color: #FFE5B4;
}
#menu-icon{
	font-size: 35px;
	color: #fff;
	z-index: 10001;
	cursor: pointer;
	margin-left: 25px;
	display: none;
}

section{
	padding: 160px 15% 120px;
}

/*Home Section*/
.home{
	position: relative;
	height: 100vh;
	width: 100%;
	background-image: url(img/sakura.gif);
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.main{
    display: flex;
    flex-direction: column;
    /*border:1px solid white; */
    align-items: center;
    position: absolute;
    top: 31%;
    right: 38%;
}

.headings{
    font-family: century;
    font-size: 3rem;
    text-align: center;
    margin: 40px -150px;
}
.btn{
    padding: 10px 35px;
    background-color: #ECE3CE;
    border: 1px solid rgb(200, 238, 254);
    color: rgb(200, 238, 254);
    outline: none;
    transition: .6s ease;
}
.btn:hover{
    cursor: pointer;
    background-color: rgb(200, 238, 254);
    color: black;
    box-shadow: 0 0 5px black, 0 0 10px white, 0 0 15px black;
    font-weight: bold;
}

header.sticky{
	background: #202020;
	border-bottom: 1px solid #ffffff1a;
	padding: 12px 15%;
}

/*About Section*/
.about{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 1.5rem;
}
.about-img img{
	max-width: 530px;
	height: auto;
	width: 100%;
	border-radius: 8px;
}
.about-text h2{
	font-size: var(--h2-font);
	line-height: 1;
}
.about-text h4{
	font-size: 24px;
	font-weight: 600;
	color: #fff;
	line-height: 1.7;
	margin: 15px 0 30px;
}
.about-text p{
	color: #f3f1f1;
	font-size: var(--p-font);
	line-height: 1.8;
	margin-bottom: 4rem;
}

/* My Achievement Section*/
.myachievement{
	background: #739072;
}
.main-text{
	text-align: center;
}
.main-text p{
	color: #ccc;
	font-size: 15px;
	margin-bottom: 15px;
}
.main-text h2{
	font-size: var(--h2-font);
	line-height: 1;
}
.myachievement-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, auto));
	align-items: center;
	gap: 2.5rem;
	margin-top: 5rem;
}
.box{
	background: #3A4D39;
	padding: 35px 45px;
	border-radius: 8px;
	transition: all .45s ease;
}
.img i{
	font-size: 32px;
	margin-bottom: 20px;
}
.box h3{
	font-size: 24px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 15px;
}
.box p{
	color: #ccc;
	font-size: 1rem;
	line-height: 1.8;
	margin-bottom: 25px;
}
.read{
	display: inline-block;
	padding: 8px 18px;
	background:  #FFE5B4;
	color: #494848;
	font-size: 14px;
	font-weight: 500;
	border-radius: 8px;
	transition: all .45s ease;
}
.read:hover{
	letter-spacing: 1px;
	background: #ffffff99;
	color: #fff;
}
.box:hover{
	transform: translateY(-8px);
	cursor: pointer;
}


/* Contact Section */
.contact{
	background: #3A4D39;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 2.5rem;
}
.contact-text h4{
	color: #fff;
	margin: 18px 0;
	font-size: 20px;
	font-weight: 600;
}
.contact-text h2{
	font-size: var(--h2-font);
	line-height: 1;
}
.contact-text p{
	color: #ccc;
	font-size: var(--p-font);
	line-height: 1.8;
	margin-bottom: 30px;
}
.list{
	margin-bottom: 2.8rem;
}
.list li{
	margin-bottom: 12px;
}
.list li a{
	display: block;
	color: #ccc;
	font-size: 14px;
	transition: all .45s ease;
}
.list li a:hover{
	color: #fff;
	transform: translateX(5px);
}
.contact-icons i{
	height: 45px;
	width: 45px;
	background: #FFE5B4;
	color: #494848;
	font-size: 22px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	margin-right: 15px;
	transition: all .45s ease;
}
.contact-icons i:hover{
	background: #fff;
	color: #4F6F52;
}

.contact-form{
	position: relative;
}
.contact-form input,
 textarea{
	width: 100%;
	padding: 14px;
	background: #ECE3CE;
	color: #fff;
	border: none;
	outline: none;
	font-size: 15px;
	border-radius: 8px;
	margin-bottom: 10px;
}
.contact-form textarea{
	resize: none;
	height: 240px;
}
.contact-form .submit{
	display: inline-block;
	font-size: 16px;
	background: #FFE5B4;
	color: #494848;
	width: 160px;
	transition: all .45s ease;
}
.contact-form .submit:hover{
	transform: scale(1.1);
	cursor: pointer;
}




@media (max-width: 1480px){
	header{
		padding: 12px 2.5%;
		transition: .1s;
	}
	header.sticky{
		padding: 10px 2.5%;
		transition: .1s;;
	}
	section{
		padding: 110px 3% 60px;
	}
	.end{
		padding: 15px 3%;
	}
}

@media (max-width: 1100px){
	:root{
		--big-font: 4rem;
	  --h2-font: 2.5rem;
	  --p-font: 1rem;
	  transition: .1s;
	}
	.home-text h3{
		font-size: 2.5rem;
	}
	.home{
		height: 87vh;
	}
}

@media (max-width: 920px){
	.about{
		grid-template-columns: 1fr;
	}
	.about-img{
		text-align: center;
		order: 2;
	}
	.about-img img{
		width: 100%;
		height: auto;
		max-width: 100%;
	}
	.contact{
		grid-template-columns: 1fr;
	}
}

@media (max-width: 840px){
	#menu-icon{
		display: block;
	}
	.navlist{
		position: absolute;
		top: -1000px;
		right: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		background: #202020;
		text-align: left;
		transition: all .45s ease;
	}
	.navlist a{
		display: block;
		margin: 17px;
		font-size: 20px;
		transition: all .45s ease;
		color: #fff;
	}
	.navlist a:hover{
		color: #F779E4;
	}
	.navlist a.active{
		color: #fff;
	}
	.navlist.open{
		top: 100%;
	}
}
table, th, td {
	border: 1px solid white;
	border-collapse: collapse;
	margin: 50px;
  }
  th, td {
	background-color: #283747;
	text-align: center;
  }